@import "../../styles/styles";

.provider {
  width: 511px;
  height: 465px;
  background: #ffffff;
  border-radius: 10px;
  padding: 36px 48px 32px 43px;
  margin-right: 32px;

  &__title {
    @include cardTitle();
    margin-bottom: 39px;
  }

  &__row {
    display: flex;
    margin-bottom: 35px;

    .avatar {
      @include text13();
      width: 25px;
      height: 25px;
      font-weight: 900;
      font-style: normal;
    }

    &__content {
      @include text12();
      width: 100%;
      margin-left: 15px;
      display: flex;
      align-items: center;

      &__name {
        @include text12();
        width: 74px;
        font-weight: 600;
        font-style: normal;
        color: $textDark;
      }

      &__location {
        width: 100%;
        padding-left: 64px;
        font-weight: 500;
        font-style: normal;
        color: $textLightGrey;
        img {
          margin-right: 7px;
        }
      }
    }
  }
}
