@import "../../styles/styles";

.sales {
  padding-right: 4px;
  width: 349px;
  height: 679px;
  margin-bottom: 67px;
  margin-top: 20px;

  &__info {
    font-style: normal;
    font-family: $primaryFont;
    &--title {
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 37px;
      padding-left: 23px;
    }

    &--index {
      color: $textDark;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
    }

    &--name {
      font-weight: 900;
      font-size: 12.8px;
      line-height: 15px;
      text-align: center;
      color: $textDark;
      text-transform: uppercase;
      min-width: 70px;
      display: flex;
    }

    &--stats {
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;

      &--plus {
        color: $textGreen;
      }
    }
  }

  &__list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    color: $textLightGrey;
    padding: 0 99px 11px 29px;
  }

  &__list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 59px 0 29px;
    height: 52px;
    margin-bottom: 13px;

    &--active {
      background-color: #fff;
      box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
      border-radius: 5px;
    }
  }
}
