@import "../components/priceStatistics/_priceStatistics";
@import "../components/salesReport/SalesReport";
@import "../components/messages/messages";
@import "../components/oilGas/provider";
@import "../components/activity//activitiy";
@import "../components/fuel/fuel";
@import "../components/header/header";
@import "../components/sideBar/sideBar";
@import "../pages/dashboard";
@import "../pages/CRUDlist/crudList";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.app {
  position: relative;
}

.hrLine {
  position: absolute;
  top: 67px;
  left: 0;
  width: 100vw;
}
