.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.price__statistics {
  background: #fff;
  width: 962px;
  height: 430px;
  border-radius: 10px;
  margin-bottom: 31px;
}

.price__statistics .statistics__top {
  padding: 0 38px 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__statistics .statistics__top .statistics__left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-right: 80px;
}

.price__statistics .statistics__top .statistics__left .graph__title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  padding-top: 36px;
  margin-bottom: 55px;
}

.price__statistics .statistics__top .statistics__left .graph__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 16px;
  margin-bottom: 59px;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.0747253px;
  display: flex;
  align-items: center;
  margin-top: 19px;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold {
  color: #35384d;
  text-transform: uppercase;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey {
  color: #9da8b6;
}

.price__statistics .statistics__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 36px;
}

.price__statistics .statistics__right .text {
  width: 242px;
  margin-top: 9px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.0747253px;
  color: #00367a;
}

.price__statistics .statistics__right .btn {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.0747253px;
  width: 241px;
  height: 36px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  color: #ffffff;
  background: #054797;
}

.price__statistics .statistics__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
}

.price__statistics .statistics__bottom .bottom__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__statistics .statistics__bottom .bottom__card .card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__statistics .statistics__bottom .bottom__card .card__text .text__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__statistics .statistics__bottom .bottom__card .card__text .text {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.price__statistics .statistics__bottom .bottom__card .card__text .text--bold {
  margin-right: 10px;
  color: #35384d;
  text-transform: uppercase;
}

.price__statistics .statistics__bottom .bottom__card .card__text .text--light-grey {
  color: #9da8b6;
}

.price__statistics .statistics__bottom .bottom__card .card__text .text--light-red {
  color: #dd4545;
  margin-left: 7px;
}

.price__statistics .statistics__bottom .bottom__card .card__text .text--light-green {
  color: #5bb09c;
  margin-left: 7px;
}

.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.sales {
  padding-right: 4px;
  width: 349px;
  height: 679px;
  margin-bottom: 67px;
  margin-top: 20px;
}

.sales .sales__title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 37px;
  padding-left: 23px;
}

.sales .sales__report .sales__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 99px 11px 29px;
}

.sales .sales__report .sales__top .text {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  color: #9da8b6;
}

.sales .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 59px 0 29px;
  width: 349px;
  height: 52px;
  margin-bottom: 13px;
}

.sales .card .card__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 45px;
}

.sales .card .card__right .text {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.sales .card .card__right .text--bold {
  font-family: "Inter";
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #35384d;
}

.sales .card .card__right .text--light-dark {
  color: #35384d;
}

.sales .card .card__right .text--light-green {
  color: #5bb09c;
}

.active {
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.messages .messages__title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 29px;
  padding-left: 24px;
}

.messages .messages__card {
  width: 349px;
  height: 60px;
  padding: 0 55px 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 13px 0;
}

.messages .messages__card .card__avatar {
  position: relative;
  margin-right: 15px;
}

.messages .messages__card .card__avatar .avatar__circle {
  position: absolute;
  right: 0;
  bottom: 0;
}

.messages .messages__card .card__text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messages .messages__card .card__text .text {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
}

.messages .messages__card .card__text .text--bold-dark {
  color: #35384d;
}

.messages .messages__card .card__text .text--bold-grey {
  color: #9da8b6;
  font-size: 11.8px;
  line-height: 14px;
}

.messages .messages__card .card__text .text--light-grey {
  color: #9da8b6;
}

.active {
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.provider {
  width: 511px;
  height: 465px;
  background: #ffffff;
  border-radius: 10px;
  padding: 36px 48px 32px 43px;
  margin-right: 32px;
}

.provider .provider__title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 39px;
}

.provider .provider__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.provider .provider__card .avatar {
  width: 25px;
  height: 25px;
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
}

.provider .provider__card .card__text {
  width: 100%;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.provider .provider__card .card__text .card__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-left: 64px;
}

.provider .provider__card .card__text .text {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.0747253px;
}

.provider .provider__card .card__text .text--bold {
  width: 74px;
}

.provider .provider__card .card__text .text--bold-dark {
  color: #35384d;
}

.provider .provider__card .card__text .text--light-grey {
  color: #9da8b6;
}

.provider .provider__card .card__text .text img {
  margin-right: 7px;
}

.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.activity {
  width: 421px;
  height: 465px;
  background: #ffffff;
  border-radius: 5px;
  padding: 37px 28px 27px 36px;
}

.activity .activity__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 47px;
}

.activity .activity__top .activity__title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-right: 40px;
}

.activity .activity__top .acttivity__text {
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  color: #9da8b6;
}

.activity .activity__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 38px;
}

.activity .activity__card .avatar {
  width: 35px;
  height: 35px;
  background-color: rgba(37, 215, 130, 0.5);
}

.activity .activity__card .text__wrap {
  margin-right: 30px;
}

.activity .activity__card .text {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
}

.activity .activity__card .text--bold-dark {
  color: #35384d;
}

.activity .activity__card .text--bold-grey {
  color: #9da8b6;
}

.activity .activity__card .text--light-grey {
  color: #9da8b6;
}

.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.fuel {
  width: 962px;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}

.fuel .text__title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
}

.fuel .fuel__mainCard {
  position: relative;
  width: 308px;
  height: 226px;
  background-color: #0052b4;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #ffffff;
}

.fuel .fuel__mainCard .manCard__text {
  padding: 14px 169px 0 26px;
}

.fuel .fuel__mainCard .manCard__text .text__price {
  font-family: "Inter";
  font-size: 35px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-bottom: 8px;
}

.fuel .fuel__mainCard .manCard__text .text__small {
  font-family: "Inter";
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.4px;
  margin-bottom: 9px;
}

.fuel .fuel__mainCard .manCard__text .graph {
  margin-bottom: 4px;
}

.fuel .fuel__mainCard .fuel__dates {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 29px 0 29px;
}

.fuel .fuel__mainCard .fuel__dates .text__dates {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  font-size: 8px;
  line-height: 9px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.fuel .fuel__mainCard .back__card {
  position: absolute;
  width: 280px;
  height: 206px;
  top: 30px;
  left: 14px;
  background: #0052b4;
  border-radius: 10px;
  opacity: 0.5;
  z-index: -1;
}

.fuel .fuel__card {
  background: #ffffff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 200px;
  height: 182px;
  padding: 21px 22px 15px 20px;
}

.fuel .fuel__card .fuel__price {
  margin-top: 29px;
  margin-bottom: 5px;
  font-family: "Inter";
  font-size: 25px;
  line-height: 30px;
}

.fuel .fuel__card .fuel__smalltext {
  font-family: "Inter";
  color: #9da8b6;
  font-size: 8px;
  line-height: 10px;
  margin-bottom: 29px;
}

.fuel .fuel__card .fuel--percentage {
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.269474px;
}

.fuel .fuel__card .fuel--percentage-green {
  color: #5bb09c;
}

.fuel .fuel__card .fuel--percentage-red {
  color: #dd4545;
}

.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 67px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  padding-right: 33px;
}

header .header__left {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  width: 300px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13px;
}

header .header__left .header__input {
  outline-width: 0;
  border: none;
  padding-left: 12px;
}

header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__right .header__avatar {
  width: 35px;
  height: 35px;
}

.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.sidebar {
  background-color: #ffffff;
  width: 69px;
  min-height: 1238px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 19px;
}

.sidebar .sidebar__logo {
  margin-bottom: 40px;
}

.sidebar .sidebar__card {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  border-radius: 5px;
}

.sidebar .sidebar__cardActive {
  background: #ff7616;
  -webkit-box-shadow: 0px 0px 4px rgba(255, 118, 22, 0.25);
          box-shadow: 0px 0px 4px rgba(255, 118, 22, 0.25);
  color: #ffffff;
}

.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.dashboard {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .dashboard__top {
  width: 100%;
  padding-left: 33px;
  padding-bottom: 41px;
}

.dashboard .dashboard__top .dashboard__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .dashboard__top .dashboard__middle .dashboard__left {
  margin-right: 31px;
}

.dashboard .dashboard__top .dashboard__middle .dashboard__left .dashboard__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__statistics .statistics__top .statistics__left .graph__title, .price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--bold, .price__statistics .statistics__bottom .bottom__card .card__text .text--bold, .sales .sales__title, .sales .card .card__right .text--bold, .messages .messages__title, .messages .messages__card .card__text .text--bold, .provider .provider__title, .provider .provider__card .avatar, .provider .provider__card .card__text .text--bold, .activity .activity__top .activity__title, .activity .activity__card .text--bold, .fuel .text__title, .fuel .fuel__mainCard .manCard__text .text__price, .fuel .fuel__card .fuel__price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-style: normal;
  font-weight: 900;
}

.sales .card .text--bold-number, .sales .card .card__right .text--light {
  font-style: normal;
  font-weight: 600;
}

.price__statistics .statistics__top .statistics__left .graph__statistics .graph__line .text--light-grey, .price__statistics .statistics__bottom .bottom__card .card__text .text--light, .messages .messages__card .card__text .text--light, .provider .provider__card .card__text .text--light, .activity .activity__top .acttivity__text, .activity .activity__card .text--light, .fuel .fuel__mainCard .manCard__text .text__small, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__smalltext, .fuel .fuel__card .fuel--percentage, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-style: normal;
  font-weight: 500;
}

.price__statistics .statistics__top .statistics__left .graph__title, .sales .sales__title, .messages .messages__title, .provider .provider__title, .activity .activity__top .activity__title, .fuel .text__title, .fuel .fuel__mainCard .fuel__dates .text__dates, .fuel .fuel__card .fuel__price, .fuel .fuel__card .fuel__smalltext, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.crud {
  width: 100%;
  height: 100vh;
  padding: 62px 122px 25px 0px;
}

.crud .crud__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.crud .crud__top .crud__top-left {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crud .crud__top .crud__top-left .crud__title {
  font-family: "Inter";
  font-size: 25px;
  line-height: 30px;
  color: #35384d;
  margin-right: 9px;
}

.crud .crud__top .crud__top-left .crud__text-total {
  font-family: "Inter";
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #35384d;
  color: #9da8b6;
  margin-right: 23px;
}

.crud .crud__top .crud__top-left .text {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.0747253px;
}

.crud .crud__top .crud__top-left .text-dark {
  color: #000;
  margin-right: 4px;
}

.crud .crud__top .crud__top-left .text-grey {
  color: #9da8b6;
}

.crud .crud__top .crud__top-left .text-grey img {
  margin-left: 3px;
}

.crud .crud__top .crud__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.crud .crud__top .crud__top-right .btn {
  width: 111px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline-width: 0;
  cursor: pointer;
}

.crud .crud__top .crud__top-right .btn--outline {
  border: 1px solid #0052b4;
  background-color: #ffffff;
  margin-right: 12px;
}

.crud .crud__top .crud__top-right .btn--outline img {
  margin-right: 6px;
}

.crud .crud__top .crud__top-right .btn--primary {
  color: #ffffff;
  background-color: #0052b4;
  border: none;
}

.crud .crud__top .crud__top-right .btn--primary img {
  margin-right: 2px;
}

.crud .crud__top .crud__top-right .addFuel {
  position: absolute;
  z-index: 222;
  width: 467px;
  height: 839px;
  right: -122px;
  top: -2px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 58px 45px 224px 36px;
  display: none;
}

.crud .crud__top .crud__top-right .addFuel .text--title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 66px;
}

.crud .crud__top .crud__top-right .addFuel .addFuel__input {
  font-family: "Inter";
  background-color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  border: 0;
  outline-width: 0;
  color: rgba(48, 48, 49, 0.75);
  -webkit-box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  width: 386px;
  height: 48px;
  margin-bottom: 45px;
  padding-left: 16px;
}

.crud .crud__top .crud__top-right .addFuel .addFuel__price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 93px;
  color: rgba(48, 48, 49, 0.75);
}

.crud .crud__top .crud__top-right .addFuel .addFuel__price .addFuel__number {
  font-family: "Inter";
  background-color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  border: 0;
  outline-width: 0;
  color: rgba(48, 48, 49, 0.75);
  -webkit-box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  width: 73px;
  height: 38px;
  margin-bottom: 0;
  margin-left: 18px;
  text-align: center;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn {
  width: 121px;
  height: 36px;
  font-family: "Inter";
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #35384d;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-primary {
  border: none;
  color: #ffffff;
  background-color: #0052b4;
  margin-right: 22px;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-primary:hover {
  background-color: #ffffff;
  color: #0052b4;
  border: 1px solid #0052b4;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-outline {
  color: #0052b4;
  border: 1px solid #0052b4;
  background-color: #ffffff;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-outline:hover {
  border: none;
  color: #ffffff;
  background-color: #0052b4;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-red {
  background-color: #ffffff;
  border: none;
  color: #dd4545;
}

.crud .crud__top .crud__top-right .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crud .crud__list {
  width: 100%;
  height: 647px;
  padding-top: 51px;
  padding-left: 61px;
}

.crud .crud__list .crud__list--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.crud .crud__list .crud__list--header-left {
  padding-left: 61px;
  padding-right: 50px;
  width: 100%;
}

.crud .crud__list .crud__list--header-left .header__title {
  color: #35384d;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.0809524px;
}

.crud .crud__list .crud__list--header-right {
  width: 169px;
  padding-right: 14px;
  color: #868686;
}

.crud .crud__list-content {
  width: 100%;
  padding-top: 28px;
}

.crud .crud__list-content .crud__card {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding-right: 150px;
  padding-left: 23px;
}

.crud .crud__list-content .crud__card .dotsImg {
  position: absolute;
  top: 29.5px;
  right: 26px;
}

.crud .crud__list-content .crud__card .avatar {
  margin: 0 12px 0 23px;
}

.crud .crud__list-content .crud__card .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crud .crud__list-content .crud__card .card-left {
  width: 200px;
}

.crud .crud__list-content .crud__card .card-right {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 75px 0 76px;
}

.crud .crud__list-content .crud__card .text {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.0747253px;
}

.crud .crud__list-content .crud__card .text--dark {
  color: #35384d;
}

.crud .crud__list-content .crud__card .text--dark-bold {
  font-weight: 900;
}

.crud .crud__list-content .crud__card .text--light {
  color: #9da8b6;
}

.crud .crud__list-content .crud__card .crud__edit {
  display: none;
  position: absolute;
  top: 47px;
  right: 8px;
  width: 240px;
  height: 125px;
  background: #ffffff;
  -webkit-box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  z-index: 11;
}

.crud .crud__list-content .crud__card .crud__edit p {
  font-family: "Quicksand", sans-serif;
  color: #626263;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41.6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 15px 21px;
  cursor: pointer;
}

.crud .crud__list-content .crud__card .crud__edit p:hover {
  background-color: #e5e5e5;
}

.crud .crud__list-content .crud__card .crud__edit img {
  margin-right: 13px;
}

.crud .crud__list-content .crud__card .active {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.app {
  position: relative;
}

.hrLine {
  position: absolute;
  top: 67px;
  left: 0;
  width: 100vw;
}
/*# sourceMappingURL=style.css.map */