.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.statistics {
  background: #fff;
  width: 962px;
  height: 430px;
  border-radius: 10px;
  margin-bottom: 31px;
}

.statistics__header {
  padding: 0 38px 0 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics__header__body {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding-right: 80px;
}

.statistics__header__body--title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  padding-top: 36px;
  margin-bottom: 55px;
}

.statistics__header__body_graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 16px;
  margin-bottom: 59px;
  text-align: center;
}

.statistics__header__body_graph_name {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.0747253px;
  display: flex;
  align-items: center;
  margin-top: 19px;
}

.statistics__header__body_graph_name--bold {
  color: #35384d;
  text-transform: uppercase;
}

.statistics__header__body_graph_name--light {
  color: #9da8b6;
}

.statistics__header__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 36px;
}

.statistics__header__media_summary {
  width: 242px;
  margin-top: 9px;
  margin-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: -0.0747253px;
  color: #00367a;
}

.statistics__header__media_btn {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.0747253px;
  width: 241px;
  height: 36px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  cursor: pointer;
}

.statistics__header__media_btn--primary {
  color: #ffffff;
  background: #054797;
}

.statistics__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 45px;
}

.statistics__footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics__footer__item_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistics__footer__item_description .text__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics__footer__item_description .text {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}

.statistics__footer__item_description .text--bold {
  margin-right: 10px;
  color: #35384d;
  text-transform: uppercase;
}

.statistics__footer__item_description .text--light-grey {
  color: #9da8b6;
}

.statistics__footer__item_description .text--light-red {
  color: #dd4545;
  margin-left: 7px;
}

.statistics__footer__item_description .text--light-green {
  color: #5bb09c;
  margin-left: 7px;
}

.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.sales {
  padding-right: 4px;
  width: 349px;
  height: 679px;
  margin-bottom: 67px;
  margin-top: 20px;
}

.sales__title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 37px;
  padding-left: 23px;
}

.sales__head {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  color: #9da8b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 99px 11px 29px;
}

.sales__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 59px 0 29px;
  width: 349px;
  height: 52px;
  margin-bottom: 13px;
}

.sales__row--active {
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

.sales__row__index {
  font-weight: 600;
  font-style: normal;
}

.sales__row__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 45px;
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

.sales__row__content_title {
  font-family: "Inter";
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #35384d;
}

.sales__row__content_stats {
  font-weight: 600;
  font-style: normal;
}

.sales__row__content_stats--plus {
  color: #5bb09c;
}

.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.messages__title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 29px;
  padding-left: 24px;
}

.messages__row {
  width: 349px;
  height: 60px;
  padding: 0 55px 0 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 13px 0;
}

.messages__row--active {
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
}

.messages__row__icon {
  margin-right: 15px;
}

.messages__row__description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.messages__row__description .text {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
}

.messages__row__description .text--bold-dark {
  color: #35384d;
}

.messages__row__description .text--bold-grey {
  color: #9da8b6;
  font-size: 11.8px;
  line-height: 14px;
}

.messages__row__description .text--light-grey {
  color: #9da8b6;
}

.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.provider {
  width: 511px;
  height: 465px;
  background: #ffffff;
  border-radius: 10px;
  padding: 36px 48px 32px 43px;
  margin-right: 32px;
}

.provider__title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 39px;
}

.provider__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.provider__row .avatar {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  width: 25px;
  height: 25px;
  font-weight: 900;
  font-style: normal;
}

.provider__row__content {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.0747253px;
  width: 100%;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.provider__row__content__name {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.0747253px;
  width: 74px;
  font-weight: 600;
  font-style: normal;
  color: #35384d;
}

.provider__row__content__location {
  width: 100%;
  padding-left: 64px;
  font-weight: 500;
  font-style: normal;
  color: #9da8b6;
}

.provider__row__content__location img {
  margin-right: 7px;
}

.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.activity {
  width: 421px;
  height: 465px;
  background: #ffffff;
  border-radius: 5px;
  padding: 37px 28px 27px 36px;
}

.activity__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 47px;
}

.activity__header--title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-right: 40px;
}

.activity__header--description {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #9da8b6;
}

.activity__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 38px;
}

.activity__row .avatar {
  width: 35px;
  height: 35px;
  background-color: rgba(37, 215, 130, 0.5);
}

.activity__row__wrap {
  margin-right: 30px;
}

.activity__row__info {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
}

.activity__row__info--bold {
  font-weight: 900;
  font-style: normal;
}

.activity__row__info--bold-dark {
  color: #35384d;
}

.activity__row__info--bold-light {
  color: #9da8b6;
}

.activity__row__info--light {
  font-weight: 600;
  font-style: normal;
  color: #9da8b6;
}

.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.fuel {
  width: 962px;
  height: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}

.fuel__mainCard {
  background-color: #0052b4;
  position: relative;
  width: 308px;
  height: 226px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #ffffff;
}

.fuel__mainCard__content {
  padding: 14px 0 0 26px;
}

.fuel__mainCard__content--title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
}

.fuel__mainCard__content--price {
  font-family: "Inter";
  font-size: 35px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.4px;
  color: #ffffff;
  margin-bottom: 8px;
}

.fuel__mainCard__content--tiny {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.4px;
  margin-bottom: 9px;
}

.fuel__mainCard__graph {
  margin-bottom: 4px;
}

.fuel__mainCard__dates {
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  font-size: 8px;
  line-height: 9px;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 29px 0 29px;
}

.fuel__mainCard--back {
  position: absolute;
  width: 280px;
  height: 206px;
  top: 30px;
  left: 14px;
  background: #0052b4;
  border-radius: 10px;
  opacity: 0.5;
  z-index: -1;
}

.fuel__card {
  background: #ffffff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 200px;
  height: 182px;
  padding: 21px 22px 15px 20px;
}

.fuel__card--title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
}

.fuel__card--price {
  margin-top: 29px;
  margin-bottom: 5px;
  font-family: "Inter";
  font-size: 25px;
  line-height: 30px;
}

.fuel__card--tiny {
  font-family: "Inter";
  color: #9da8b6;
  font-size: 8px;
  line-height: 10px;
  margin-bottom: 29px;
}

.fuel__card--statistic {
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.269474px;
}

.fuel__card--statistic-plus {
  color: #33d067;
}

.fuel__card--statistic-minus {
  color: #dd4545;
}

.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 67px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  padding-right: 33px;
}

.header__search {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  width: 300px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13px;
}

.header__search__input {
  outline-width: 0;
  border: none;
  padding-left: 12px;
}

.header__notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.sidebar {
  background-color: #ffffff;
  width: 69px;
  min-height: 1238px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 19px;
}

.sidebar__logo {
  margin-bottom: 40px;
}

.sidebar__link {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
  border-radius: 5px;
}

.sidebar__link--active {
  background: #ff7616;
  -webkit-box-shadow: 0px 0px 4px rgba(255, 118, 22, 0.25);
          box-shadow: 0px 0px 4px rgba(255, 118, 22, 0.25);
  color: #ffffff;
}

.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.dashboard {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .dashboard__top {
  width: 100%;
  padding-left: 33px;
  padding-bottom: 41px;
}

.dashboard .dashboard__top .dashboard__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .dashboard__top .dashboard__middle .dashboard__left {
  margin-right: 31px;
}

.dashboard .dashboard__top .dashboard__middle .dashboard__left .dashboard__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics__header__body--title, .statistics__header__body_graph_name--bold, .statistics__footer__item_description .text--bold, .sales__title, .sales__row__content_title, .messages__title, .messages__row__description .text--bold, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__content--price, .fuel__card--title, .fuel__card--price, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list .crud__list--header-left .header__title {
  font-weight: 900;
  font-style: normal;
}

.statistics__header__body_graph_name--light, .statistics__footer__item_description .text--light, .messages__row__description .text--light, .fuel__mainCard__dates, .fuel__card--tiny, .fuel__card--statistic, .crud .crud__top .crud__top-left .crud__text-total, .crud .crud__top .crud__top-left .text, .crud .crud__top .crud__top-right .addFuel .text--title, .crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn, .crud .crud__list-content .crud__card .text {
  font-weight: 500;
  font-style: normal;
}

.statistics__header__body--title, .sales__title, .messages__title, .provider__title, .activity__header--title, .fuel__mainCard__content--title, .fuel__mainCard__dates, .fuel__card--title, .fuel__card--price, .fuel__card--tiny, .crud .crud__top .crud__top-left .crud__title, .crud .crud__top .crud__top-right .addFuel .text--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.32px;
}

.crud {
  width: 100%;
  height: 100vh;
  padding: 62px 122px 25px 0px;
}

.crud .crud__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.crud .crud__top .crud__top-left {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crud .crud__top .crud__top-left .crud__title {
  font-family: "Inter";
  font-size: 25px;
  line-height: 30px;
  color: #35384d;
  margin-right: 9px;
}

.crud .crud__top .crud__top-left .crud__text-total {
  font-family: "Inter";
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #35384d;
  color: #9da8b6;
  margin-right: 23px;
}

.crud .crud__top .crud__top-left .text {
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.0747253px;
}

.crud .crud__top .crud__top-left .text-dark {
  color: #000;
  margin-right: 4px;
}

.crud .crud__top .crud__top-left .text-grey {
  color: #9da8b6;
}

.crud .crud__top .crud__top-left .text-grey img {
  margin-left: 3px;
}

.crud .crud__top .crud__top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.crud .crud__top .crud__top-right .btn {
  width: 111px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline-width: 0;
  cursor: pointer;
}

.crud .crud__top .crud__top-right .btn--outline {
  border: 1px solid #0052b4;
  background-color: #ffffff;
  margin-right: 12px;
}

.crud .crud__top .crud__top-right .btn--outline img {
  margin-right: 6px;
}

.crud .crud__top .crud__top-right .btn--primary {
  color: #ffffff;
  background-color: #0052b4;
  border: none;
}

.crud .crud__top .crud__top-right .btn--primary img {
  margin-right: 2px;
}

.crud .crud__top .crud__top-right .addFuel {
  position: absolute;
  z-index: 222;
  width: 467px;
  height: 839px;
  right: -122px;
  top: -64px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 58px 45px 224px 36px;
  display: none;
}

.crud .crud__top .crud__top-right .addFuel .text--title {
  font-family: "Inter";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 66px;
}

.crud .crud__top .crud__top-right .addFuel .addFuel__input {
  font-family: "Inter";
  background-color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  border: 0;
  outline-width: 0;
  color: rgba(48, 48, 49, 0.75);
  -webkit-box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  width: 386px;
  height: 48px;
  margin-bottom: 45px;
  padding-left: 16px;
}

.crud .crud__top .crud__top-right .addFuel .addFuel__price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 93px;
  color: rgba(48, 48, 49, 0.75);
}

.crud .crud__top .crud__top-right .addFuel .addFuel__price .addFuel__number {
  font-family: "Inter";
  background-color: #ffffff;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  border: 0;
  outline-width: 0;
  color: rgba(48, 48, 49, 0.75);
  -webkit-box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  width: 73px;
  height: 38px;
  margin-bottom: 0;
  margin-left: 18px;
  text-align: center;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn {
  width: 121px;
  height: 36px;
  font-family: "Inter";
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #35384d;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-primary {
  border: none;
  color: #ffffff;
  background-color: #0052b4;
  margin-right: 22px;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-primary:hover {
  background-color: #ffffff;
  color: #0052b4;
  border: 1px solid #0052b4;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-outline {
  color: #0052b4;
  border: 1px solid #0052b4;
  background-color: #ffffff;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-outline:hover {
  border: none;
  color: #ffffff;
  background-color: #0052b4;
}

.crud .crud__top .crud__top-right .addFuel .addFuell__btn .btn-red {
  background-color: #ffffff;
  border: none;
  color: #dd4545;
}

.crud .crud__top .crud__top-right .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crud .crud__list {
  width: 100%;
  height: 647px;
  padding-top: 51px;
  padding-left: 61px;
}

.crud .crud__list .crud__list--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.crud .crud__list .crud__list--header-left {
  padding-left: 61px;
  padding-right: 50px;
  width: 100%;
}

.crud .crud__list .crud__list--header-left .header__title {
  color: #35384d;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.0809524px;
}

.crud .crud__list .crud__list--header-right {
  width: 169px;
  padding-right: 14px;
  color: #868686;
}

.crud .crud__list-content {
  width: 100%;
  padding-top: 28px;
}

.crud .crud__list-content .crud__card {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  padding-right: 150px;
  padding-left: 23px;
}

.crud .crud__list-content .crud__card .dotsImg {
  position: absolute;
  top: 29.5px;
  right: 26px;
}

.crud .crud__list-content .crud__card .avatar {
  margin: 0 12px 0 23px;
}

.crud .crud__list-content .crud__card .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crud .crud__list-content .crud__card .card-left {
  width: 200px;
}

.crud .crud__list-content .crud__card .card-right {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 75px 0 76px;
}

.crud .crud__list-content .crud__card .text {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.0747253px;
}

.crud .crud__list-content .crud__card .text--dark {
  color: #35384d;
}

.crud .crud__list-content .crud__card .text--dark-bold {
  font-weight: 900;
}

.crud .crud__list-content .crud__card .text--light {
  color: #9da8b6;
}

.crud .crud__list-content .crud__card .crud__edit {
  display: none;
  position: absolute;
  top: 47px;
  right: 8px;
  width: 240px;
  height: 125px;
  background: #ffffff;
  -webkit-box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  z-index: 11;
}

.crud .crud__list-content .crud__card .crud__edit p {
  font-family: "Quicksand", sans-serif;
  color: #626263;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41.6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 15px 21px;
  cursor: pointer;
}

.crud .crud__list-content .crud__card .crud__edit p:hover {
  background-color: #e5e5e5;
}

.crud .crud__list-content .crud__card .crud__edit img {
  margin-right: 13px;
}

.crud .crud__list-content .crud__card .active {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.app {
  position: relative;
}

.hrLine {
  position: absolute;
  top: 67px;
  left: 0;
  width: 100vw;
}

.MuiAvatar-img {
  width: 35px;
  height: 35px;
}
/*# sourceMappingURL=style.css.map */