@import "../styles/styles";

.dashboard {
  @include width1440px();
  display: flex;

  &__header {
    width: 100%;
    padding-left: 33px;
    padding-bottom: 41px;
  }

  &__content {
    display: flex;

    &__cards {
      margin-right: 31px;

      &__row {
        display: flex;
      }
    }
  }
}
