@import "../styles/styles";

.dashboard {
  @include width1440px();
  display: flex;
  .dashboard__top {
    width: 100%;
    padding-left: 33px;
    padding-bottom: 41px;
    .dashboard__middle {
      display: flex;
      .dashboard__left {
        margin-right: 31px;
        .dashboard__bottom {
          display: flex;
        }
      }
    }
  }
}
