@import "../../styles/styles";

.fuel {
  width: 962px;
  height: 154px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;

  &__info {
    font-family: $primaryFont;

    &--price {
      font-weight: 900;
      font-family: $primaryFont;
      &--lrg {
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 8px;
      }

      &--sml {
        font-size: 25px;
        line-height: 30px;
        margin-top: 29px;
        margin-bottom: 5px;
      }
    }

    &--title {
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
    }

    &--tiny {
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.4px;
      margin-bottom: 9px;
    }

    &--stats {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.269474px;

      &--plus {
        color: $textLightGreen;
      }

      &--minus {
        color: $textRed;
      }
    }
  }

  // FUEL CARD
  &__card {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 200px;
    height: 182px;
    padding: 21px 22px 15px 20px;
    background: $white;
    font-style: normal;
  }

  // MAIN FUEL CARD
  &__main-card {
    background-color: $btnPrimary;
    position: relative;
    width: 308px;
    height: 226px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: $white;

    // BACK CARD
    &--back {
      position: absolute;
      width: 280px;
      height: 206px;
      top: 30px;
      left: 14px;
      background: $btnPrimary;
      border-radius: 10px;
      opacity: 0.5;
      z-index: -1;
    }

    &__content {
      padding: 14px 0 0 26px;
      font-style: normal;
      font-family: $primaryFont;
    }

    // GRAPH
    &__graph {
      margin-bottom: 4px;
    }

    // DATES
    &__dates {
      font-family: $secondaryFont;
      font-size: 8px;
      line-height: 9px;
      font-weight: 500;
      opacity: 0.5;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 29px 0 29px;
    }
  }
}
