@import "../../styles/styles";

.fuel {
  width: 962px;
  height: 154px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;

  // MAIN FUEL CARD
  &__mainCard {
    background-color: $btnPrimary;
    position: relative;
    width: 308px;
    height: 226px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: $white;
    &__content {
      padding: 14px 169px 0 26px;

      &--title {
        @include cardTitle();
      }

      &--price {
        @include fuelPriceBig();
        margin-bottom: 8px;
      }

      &--tiny {
        font-family: $primaryFont;
        font-weight: 500;
        font-style: normal;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.4px;
        margin-bottom: 9px;
      }
    }

    // GRAPH
    &--graph {
      margin-bottom: 4px;
    }

    // DATES
    &--dates {
      @include smallDates();
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 10px 29px 0 29px;
    }

    // BACK CARD
    &--back {
      position: absolute;
      width: 280px;
      height: 206px;
      top: 30px;
      left: 14px;
      background: #0052b4;
      border-radius: 10px;
      opacity: 0.5;
      z-index: -1;
    }
  }

  // FUEL CARD
  &__card {
    background: $white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 200px;
    height: 182px;
    padding: 21px 22px 15px 20px;

    &--title {
      @include cardTitle();
    }

    &--price {
      margin-top: 29px;
      margin-bottom: 5px;
      @include fuelPrice();
    }

    &--tiny {
      @include extraSmallText();
      margin-bottom: 29px;
    }

    &--statistic {
      font-family: $primaryFont;
      @extend %normalBold500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.269474px;

      &-plus {
        color: $textLightGreen;
      }

      &-minus {
        color: $textRed;
      }
    }
  }
}
