@import "../../styles/styles";

.statistics {
  background: #fff;
  width: 962px;
  height: 430px;
  border-radius: 10px;
  margin-bottom: 31px;

  &__header {
    padding: 0 38px 0 42px;
    display: flex;

    // LEFT
    &__body {
      flex: 2;
      padding-right: 80px;

      &__title {
        @include cardTitle();
        padding-top: 36px;
        margin-bottom: 55px;
      }

      &__graph {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 16px;
        margin-bottom: 59px;
        text-align: center;

        &__name {
          @include text12();
          display: flex;
          align-items: center;
          margin-top: 19px;

          // Bold text 12px
          &--bold {
            font-weight: 900;
            font-style: normal;
            color: $textDark;
            text-transform: uppercase;
          }

          //Light text 12px
          &--light {
            font-weight: 500;
            font-style: normal;
            color: $textLightGrey;
          }
        }
      }
    }

    // RIGHT
    &__media {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 36px;

      &__summary {
        width: 242px;
        margin-top: 9px;
        margin-bottom: 20px;
        font-family: $primaryFont;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.0747253px;
        color: #00367a;
      }

      &_btn {
        @include text12();
        width: 241px;
        height: 36px;
        display: flex;
        justify-content: center;
        border: none;
        cursor: pointer;

        &--primary {
          color: $white;
          background: #054797;
        }
      }
    }
  }

  // BOTTOM
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;

    &__item {
      display: flex;

      &__description {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        justify-content: center;

        &__head {
          display: flex;
          align-items: center;

          &__info {
            @include text13();
            display: flex;
            align-items: center;
            margin-bottom: 4px;

            // Bold text 13px
            &--bold {
              font-weight: 900;
              font-style: normal;
              margin-right: 10px;
              color: $textDark;
              text-transform: uppercase;
            }

            //Light text 13px
            &--light {
              font-weight: 500;
              font-style: normal;

              &--grey {
                color: $textLightGrey;
              }

              //Red text
              &--minus {
                color: $textRed;
                margin-left: 7px;
              }

              //Green text
              &--plus {
                color: $textGreen;
                margin-left: 7px;
              }
            }
          }
        }
      }
    }
  }
}
