@import "../../styles/styles";

.crud {
  width: 100%;
  height: 100vh;
  padding: 62px 122px 25px 0px;
  .crud__top {
    display: flex;
    justify-content: space-between;
    .crud__top-left {
      align-items: baseline;
      display: flex;
      .crud__title {
        @include fuelPrice();
        color: $textDark;
        margin-right: 9px;
      }
      .crud__text-total {
        @include salesName();
        @extend %normalBold500;
        color: $textLightGrey;
        margin-right: 23px;
      }
      .text {
        @include text12();
        @extend %normalBold500;
        &-dark {
          color: #000;
          margin-right: 4px;
        }
        &-grey {
          color: $textLightGrey;
          img {
            margin-left: 3px;
          }
        }
      }
    }
    // CRUD TOP RIGHT
    .crud__top-right {
      display: flex;
      position: relative;
      .btn {
        width: 111px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline-width: 0;
        cursor: pointer;
        &--outline {
          border: 1px solid $btnPrimary;
          background-color: $white;
          margin-right: 12px;
          img {
            margin-right: 6px;
          }
        }

        &--primary {
          color: $white;
          background-color: $btnPrimary;
          border: none;
          img {
            margin-right: 2px;
          }
        }
      }

      .addFuel {
        position: absolute;
        z-index: 222;
        width: 467px;
        height: 839px;
        right: -122px;
        top: -2px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        padding: 58px 45px 224px 36px;
        display: none;
        .text {
          &--title {
            @include cardTitle();
            @extend %normalBold500;
            margin-bottom: 66px;
          }
        }

        .addFuel__input {
          @include addFuelInput();
          width: 386px;
          height: 48px;
          margin-bottom: 45px;
          padding-left: 16px;
        }
        .addFuel__price {
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 93px;
          color: rgba(48, 48, 49, 0.75);

          .addFuel__number {
            @include addFuelInput();
            width: 73px;
            height: 38px;
            margin-bottom: 0;
            margin-left: 18px;
            text-align: center;
          }
        }
        .addFuell__btn {
          display: flex;
          .btn {
            width: 121px;
            height: 36px;
            @include salesName();
            @extend %normalBold500;
            cursor: pointer;
            transition: 0.2s all ease-in-out;
            &-primary {
              border: none;
              color: $white;
              background-color: $btnPrimary;
              margin-right: 22px;
              &:hover {
                background-color: $white;
                color: $btnPrimary;
                border: 1px solid $btnPrimary;
              }
            }
            &-outline {
              color: $btnPrimary;
              border: 1px solid $btnPrimary;
              background-color: $white;

              &:hover {
                border: none;
                color: $white;
                background-color: $btnPrimary;
              }
            }
            &-red {
              background-color: $white;
              border: none;
              color: $textRed;
            }
          }
        }
      }
      .active {
        display: flex;
      }
    }
  }

  .crud__list {
    width: 100%;
    height: 647px;
    padding-top: 51px;
    padding-left: 61px;
    .crud__list--header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      &-left {
        padding-left: 61px;
        padding-right: 50px;
        width: 100%;
        .header__title {
          @extend %normalBold900;
          color: $textDark;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: -0.0809524px;
        }
      }
      &-right {
        width: 169px;
        padding-right: 14px;
        color: #868686;
      }
    }
  }

  .crud__list-content {
    width: 100%;
    padding-top: 28px;
    .crud__card {
      position: relative;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      background: $white;
      box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
      border-radius: 5px;
      padding-right: 150px;
      padding-left: 23px;

      .dotsImg {
        position: absolute;
        top: 29.5px;
        right: 26px;
      }
      .avatar {
        margin: 0 12px 0 23px;
      }
      .card {
        display: flex;
        align-items: center;

        &-left {
          width: 200px;
        }
        &-right {
          width: 100%;
          justify-content: space-between;
          padding: 0 75px 0 76px;
        }
      }
      .text {
        @include text13();
        letter-spacing: -0.0747253px;
        @extend %normalBold500;
        &--dark {
          color: $textDark;
          &-bold {
            font-weight: 900;
          }
        }

        &--light {
          color: $textLightGrey;
        }
      }

      .crud__edit {
        display: none;
        position: absolute;
        top: 47px;
        right: 8px;
        width: 240px;
        height: 125px;
        background: $white;
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
        border-radius: 6px;
        z-index: 11;
        p {
          font-family: $secondaryFont;
          color: $textDarkGrey;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          height: 41.6px;
          align-items: center;
          padding: 15px 0 15px 21px;
          cursor: pointer;
          &:hover {
            background-color: #e5e5e5;
          }
        }
        img {
          margin-right: 13px;
        }
      }
      .active {
        display: block;
      }
    }
  }
}
