@import "../../styles/styles";

.crud {
  width: 100%;
  height: 100vh;
  padding: 62px 122px 25px 0px;

  &__header {
    display: flex;
    justify-content: space-between;

    &__info {
      align-items: baseline;
      display: flex;

      &--title {
        @include fuelPrice();
        color: $textDark;
        margin-right: 9px;
      }

      &--total {
        @include salesName();
        font-weight: 500;
        font-style: normal;
        color: $textLightGrey;
        margin-right: 23px;
      }

      &--sort {
        @include text12();
        font-weight: 500;
        font-style: normal;
        &-dark {
          color: #000;
          margin-right: 4px;
        }
        &-grey {
          color: $textLightGrey;
          img {
            margin-left: 3px;
          }
        }
      }
    }

    // CRUD TOP RIGHT
    &__btns {
      display: flex;
      position: relative;

      &__btn {
        width: 111px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline-width: 0;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        &:hover {
          box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
          opacity: 0.8;
        }

        &--outline {
          border: 1px solid $btnPrimary;
          background-color: $white;
          margin-right: 12px;
          img {
            margin-right: 6px;
          }
        }

        &--primary {
          color: $white;
          background-color: $btnPrimary;
          border: none;
          img {
            margin-right: 2px;
          }
        }
      }

      .add-fuel {
        position: absolute;
        z-index: 222;
        width: 467px;
        height: 839px;
        right: -122px;
        top: -64px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        padding: 58px 45px 224px 36px;
        display: none;

        &--active {
          display: flex;
        }

        &__title {
          @include cardTitle();
          font-weight: 500;
          font-style: normal;
          margin-bottom: 66px;
        }

        &__input {
          @include addFuelInput();
          width: 386px;
          height: 48px;
          margin-bottom: 45px;
          padding-left: 16px;
        }

        &__price {
          position: relative;
          display: flex;
          align-items: center;
          margin-bottom: 93px;
          color: rgba(48, 48, 49, 0.75);

          &__number {
            @include addFuelInput();
            width: 73px;
            height: 38px;
            margin-bottom: 0;
            margin-left: 18px;
            text-align: center;
          }
        }

        &__btns {
          display: flex;

          &__btn {
            width: 121px;
            height: 36px;
            @include salesName();
            font-weight: 500;
            font-style: normal;
            cursor: pointer;
            transition: 0.2s all ease-in-out;

            &--primary {
              border: none;
              color: $white;
              background-color: $btnPrimary;
              margin-right: 22px;
              &:hover {
                background-color: $white;
                color: $btnPrimary;
                border: 1px solid $btnPrimary;
              }
            }

            &--outline {
              color: $btnPrimary;
              border: 1px solid $btnPrimary;
              background-color: $white;

              &:hover {
                border: none;
                color: $white;
                background-color: $btnPrimary;
              }
            }

            &--cancle {
              background-color: $white;
              border: none;
              color: $textRed;
            }
          }
        }
      }
    }
  }

  // CRUD LIST

  &__content {
    width: 100%;
    height: 647px;
    padding-top: 51px;
    padding-left: 61px;

    &__header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      &--info {
        padding-left: 61px;
        padding-right: 50px;
        width: 100%;
      }

      &__title {
        font-weight: 900;
        font-style: normal;
        color: $textDark;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.0809524px;
      }

      &-number {
        width: 169px;
        padding-right: 14px;
        color: #868686;
      }
    }

    &__list {
      width: 100%;
      padding-top: 28px;

      .crud__row {
        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        background: $white;
        box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.03);
        border-radius: 5px;
        padding-right: 150px;
        padding-left: 23px;

        &__img {
          position: absolute;
          top: 29.5px;
          right: 26px;
        }

        .avatar {
          margin: 0 12px 0 23px;
        }

        &__info {
          display: flex;
          align-items: center;

          &--provider {
            width: 200px;
          }
          &--right {
            width: 100%;
            justify-content: space-between;
            padding: 0 75px 0 76px;
          }

          &__desc {
            @include text13();
            letter-spacing: -0.0747253px;
            font-weight: 500;
            font-style: normal;

            &--dark {
              color: $textDark;

              &-bold {
                font-weight: 900;
              }
            }

            &--light {
              color: $textLightGrey;
            }
          }
        }

        &__edit {
          display: none;
          position: absolute;
          top: 47px;
          right: 8px;
          width: 240px;
          height: 125px;
          background: $white;
          box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
          border-radius: 6px;
          z-index: 11;

          &--active {
            display: block;
          }

          &__method {
            font-family: $secondaryFont;
            color: $textDarkGrey;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            height: 41.6px;
            align-items: center;
            padding: 15px 0 15px 21px;
            cursor: pointer;
            &:hover {
              background-color: #e5e5e5;
            }
          }

          &__icon {
            margin-right: 13px;
          }
        }
      }
    }
  }
}
